body{
 
text-align: center;
}
#container{
    background: #1F2937;
    width: 550px;
    height: 550px;
    margin: auto;
    padding: 50px;
}
#container1{
    color: white;
    width: 650px;
    height: 200px;
    margin: -50px;
    padding: 0.1px;
    background: #6943FF;

}

#container3{
    width: 117px;
    height: 50px;
    color: yellow;
    border-radius: 5px solid green;
}